* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

#container {
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}

#nav {
  display: flex;
}

h1 {
  font-size: 50px;
  margin-left: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

li {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 30px;
}

#about-me-header {
  margin-left: 20px;
  margin-right: 330px;
  display: block;
  font-size: 40px;
  padding: 5px 0;
}

p {
  margin-left: 20px;
  margin-right: 330px;
  font-size: 20px;
  padding: 5px 0;
}

img {
  width: 300px;
  position: absolute;
  right: 0;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 5%;
}

#projects-container {
  margin-top: 30px;
}

#projects-header {
  margin-left: 20px;
  margin-right: 330px;
  font-size: 40px;
  padding: 5px 0;
}

#list {
  margin-left: 28px;
  display: block;
  list-style-type: disc;
  margin-right: 330px;
}
